{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/suppliers.css' %}">

<h1 class="page-title">📦 All Suppliers</h1>

<div class="supplier-banner">        
    {% for supp in supplier %}
        <a href="{% url 'SUPPLIER_DETAIL' supp.id %}">
            <div class="supplier-card">
                <img src="{{ supp.photo.url }}" alt="{{ supp.name }}">
                <div class="supplier-info">
                    <h3>{{ supp.name }}</h3>
                    <p>{{ supp.location }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}
