{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/memos.css' %}">

<h2>Pick a Category</h2>

<!-- CSRF token (outside form) for JavaScript -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<div class="card-option" onclick="selectCategory_show('note', this)">📝 Notes</div>
<div class="card-option" onclick="selectCategory_show('shop_order', this)">🛒 Shop Orders</div>
<div class="card-option" onclick="selectCategory_show('customer', this)">👤 Costumer</div>
<div class="card-option" onclick="selectCategory_show('customer_order', this)">📦 Costumer Orders</div>

<!-- AJAX will inject content here -->
<div id="memo-content" class="memo-section"></div>

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/show_memo.js' %}"></script>

{% endblock content %}
