{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>SALES_PAGE</h1>

<input
  type="text" 
  id="barcodeInput"
  class="barcode-input"
  placeholder="Scan barcode here..."
  autofocus
  autocomplete="off"
/>

<table id="saleTable" class="sale-table" aria-label="Products added to sale">
  <thead>
    <tr>
      <th class="delete-btn" >Del</th>
      <th>Product</th>
      <th>Price (DT)</th>
      <th>Quantity</th>
      <th>Subtotal (DT)</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div id="totalAmount" class="total-amount">Total: 0 DT</div>

<script src="{% static 'js/barcode-scan.js' %}"></script>



{% endblock content %}
